body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 0.8rem;
	line-height: 1.5rem;
	/*overscroll-behavior: none;*/
    overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y:hidden;
}

.label {
    text-shadow: -1px 1px 1px rgb(0,0,0);
    margin-left: 1.67rem;
    font-size: 1.25rem;
}

.content {
    position:absolute;
    bottom:1rem;
    font: 0.8rem "Helvetica Neue", Helvetica, Arial, sans-serif;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
padding-left:1.25rem;
padding-right:1.25rem;
z-index: 200;

}
h1{
color:white;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.5em;
}

.credit {
color: #9E9E9E;
font-size: 0.6rem;
margin-bottom: 0.6rem;
text-align:right;
}

#container{
    position:relative;
    border:2px solid black;
}

canvas{
    border: 2px solid black;
    margin-left:auto;
    margin-right:auto;
}



@media screen and (min-width: 1200px) and (min-height:700px) {

    .credit{
        position:absolute;
        bottom:0;
        right:0;

    }
    .content{
        position:absolute;
        bottom:1.125rem;
        font-size:1.25rem;
	background: rgba(0, 0, 0, 0);
    }
    
    h1{
        font-size:2em;
    }
    

}




