/**{
	border: 1px solid rgba(127,255,255,0.75);
}*/


body {
	margin: 0;
	background-color: #000;
	color: rgba(127,255,255,0.75);
	font-family: 'Chakra Petch',Monospace;
	/*line-height: 32px;*/
    overflow:hidden;
}

h1, h2{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:white;
	
}


#info{
position: absolute;
	top: 0px;
	width: 100%;
	height:100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;


	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select, .container{
	pointer-events: auto;
}

button {
    color: rgba(127,255,255,0.75);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 6px 0px;
    cursor: pointer;
    min-width:12ch;
    
	text-transform: uppercase;
	font-size:0.9rem;
	font-family:'Chakra Petch';
    
}
button:hover {
    background-color: rgba(0,255,255,0.5);
}
button:active {
    color: #000000;
    background-color: rgba(0,255,255,0.75);
}

button:disabled{
color: rgba(147, 147, 147, 0.75);
outline: 1px solid rgba(147, 147, 147, 0.75);;
}

a {
	color: rgb(0, 255, 149);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#sidebar{
	margin: 0;
  padding: 0;
  padding-left:1rem;
  padding-bottom:1rem;
  width: 16ch;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color:black;
  text-align:left;
  right:1rem;
}

#sidebar button, #sidebar label{
	margin-top: 1rem;
	display:block;
}

#logo a{
    position: absolute;
	bottom: 0px;
	left: 0px;
    padding: 10px;
    color:rgba(127,255,255,0.75)
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	padding-top: 200px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }

/* Modal Content */
.modal-content {
	background-color: rgba(0,0,0);
	color: rgba(127,255,255,0.75);
	margin: auto;
	padding: 20px;
	border: 1px solid rgba(127,255,255,0.75);
	width: 80%;
  }
  
  /* The Close Button */
  .close {
	color: rgba(127,255,255,0.75);
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: rgba(0,255,255,1.0);
	text-decoration: none;
	cursor: pointer;
  }

  #d1 {
	
	padding-left:2rem;
	
	text-align:left;
	font-family: 'Helvetica'; 
	color:#00FF00;
	font-size: 1.125rem;
	width:50ch; 
	height:auto;
  }

  p {
	font-family: 'Chakra Petch',Monospace;
	color:rgba(127,255,255,0.75);
	
  }
  

  #footer{
	position:absolute;
	bottom:0;
	/*width:100%;*/
	right:0%;
	transform:translate(-50%,0);
  }

  #footer a{
	text-decoration: none;
  }
  

  .label{
	/*text-align:right;*/
    text-align: left;
	width:20ch;
    color:white;
}

@media screen and (max-width: 800px) {
	h1{
	  line-height:1.2em;
	}
	#d1{
	  position:absolute;
	  top:60%;
	  width:90%;
	 
	  padding-left:1rem;
	}

	  #sidebar {
		width: 100%;
		height: auto;
		position: relative;
		padding-right:1rem;
	  }
	 
	  #sidebar button, #sidebar label{
		display:inline-block;
	  }
  
	  #footer{
		padding-right:1rem;
		transform:none;
	  }
  
	}
